// font
$vp-font: "JetBrains Mono, monospace";
$vp-font-heading: $vp-font;

// Color for separators, used to divide sections within the same components, such as having separator on "h2" heading.
$vp-c-divider: (
  light: #EBEBF5,
  dark: #3C3C43,
);

$vp-c-card-font: (
  light: rgb(60, 60, 67),
  dark: rgb(51, 235, 255),
);

$vp-c-card-background: (
  light: rgb(247, 247, 247),
  dark: rgb(0, 23, 26),
);
